* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.sideBar {
  width: 20%;
}

.mainContainer {
  width: 80%;
  margin-top: 30px;
}

.home,
.channels {
  display: flex;
  color: #723c70;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about-the-team {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #455e89;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #0091ad;
  font-size: 100px;
}

.cardContainer2 {
  display: flex;
  flex-direction: row;
  padding-top: 25px;

  padding-right: 160px;
  padding-left: 120px;
  justify-content: space-between;

  margin: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-right: 30px;
  justify-content: space-between;

  padding-inline: 150px;
}
.cardContainer1 {
  display: flex;
  flex-direction: row;
  padding-top: 200px;
  padding-right: 30px;
  justify-content: space-between;

  padding-inline: 150px;
}

.signUpCard.card {
  background-color: #718096;
}
f .homePage p {
  margin-top: 3rem;
  text-align: center;
}

.loginButton {
  width: 15px;
  height: 15px;
}

.mainProfile {
  display: flex;
  flex-direction: row;
}

.profilePage {
  width: 90%;
  margin-top: 30px;
}

.profileLogo {
  margin-left: 400px;
}
.leftNav {
  margin-left: 30px;
}

.centerNav {
  align-items: center;
  margin-left: 620px;
  margin-right: 380px;
}

.profilePageContainer {
  width: 90%;
  margin-top: 30px;
}

.rowContainer {
  height: 50px;
}
